.cn {
    margin-bottom: 20px;

    .box-1 {
        background-color: #554c9b;

        img {
            margin-top: -12px;
            margin-bottom: -71px;
        }

        p {
            font-family: 'VAG Rounded Std';
            font-weight: 900;
            font-style: normal;
            color: #f9e700;
            font-size: 45px;
            line-height: 52px;
            padding-left: 30px;
            padding-top: 7%;
            letter-spacing: 1px;

            span {
                color: #6fc9ea;
            }
        }
    }

    .box-2 {
        .padding-off {
            margin-top: -20px;
        }

        .icone {
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: 5%;
        }

        p {
            font-family: 'VAG Rounded Std';
            font-weight: 900;
            font-style: normal;
            color: #ff0059;
            letter-spacing: 1px;
            padding-left: 5%;
        }

        .txt-01 {
            font-size: 32px;
            line-height: 43px;
            margin-top: 20%;
            margin-bottom: 5px;
        }

        .txt-02 {
            font-size: 32px;
            line-height: 43px;

            span {
                font-size: 45px;
            }
        }

        .txt-03 {
            font-size: 32px;
            line-height: 43px;

            span {
                font-size: 45px;
            }
        }
    }
}

.fonte {
    margin-bottom: 40px;
    margin-top: 40px;

    p {
        font-family: 'Helvetica Neue LT Std';
        font-weight: 300;
        font-style: normal;
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 10px;
    }
}


/* Extra Small */
@media(max-width:767px) {
    .cn {
        margin-bottom: 10px;

        .box-1 {

            img {
                margin-top: -4px;
                margin-bottom: -23px;
            }

            p {
                font-size: 13px;
                line-height: 15px;
                padding-top: 13%;
                padding-left: 15px;
            }
        }

        .box-2 {
            .padding-off {
                margin-top: 0px;
            }

            .icone {
                margin-top: 5px;
                margin-bottom: 5px;
                margin-left: 2%;
            }

            p {
                padding-left: 2%;
            }

            .txt-01 {
                font-size: 10px;
                line-height: 10px;
                margin-top: 13%;
                margin-bottom: 5px;
            }

            .txt-02 {
                font-size: 10px;
                line-height: 10px;

                span {
                    font-size: 12px;
                }
            }

            .txt-03 {
                font-size: 10px;
                line-height: 10px;

                span {
                    font-size: 12px;
                }
            }
        }
    }

    .fonte {
        margin-bottom: 20px;
        margin-top: 0px;

        p {
            font-size: 10px;
            line-height: 15px;
            margin-bottom: 5px;
        }
    }
}


/* Small */
@media(min-width:768px) and (max-width:991px) {
    .cn {
        .box-1 {

            img {
                margin-top: -8px;
                margin-bottom: -48px;
            }

            p {
                font-size: 25px;
                line-height: 30px;
                padding-top: 17%;
            }
        }
        .box-2 {
            .padding-off {
                margin-top: 0px;
            }

            .icone {
                margin-top: 5px;
                margin-bottom: 5px;
                margin-left: 2%;
                max-width: 40%;
            }

            p {
                padding-left: 2%;
            }

            .txt-01 {
                font-size: 18px;
                line-height: 20px;
                margin-top: 13%;
                margin-bottom: 5px;
            }

            .txt-02 {
                font-size: 18px;
                line-height: 20px;

                span {
                    font-size: 30px;
                }
            }

            .txt-03 {
                font-size: 18px;
                line-height: 20px;

                span {
                    font-size: 30px;
                }
            }
        }
    }
}


/* Medium */
@media(min-width:992px) and (max-width:1199px) {
    .cn {
        .box-1 {

            img {
                margin-top: -8px;
                margin-bottom: -52px;
            }

            p {
                font-size: 35px;
                line-height: 40px;
                padding-top: 5%;
            }
        }
        .box-2 {
            .padding-off {
                margin-top: 0px;
            }

            .icone {
                margin-top: 5px;
                margin-bottom: 5px;
                margin-left: 2%;
                max-width: 40%;
            }

            p {
                padding-left: 2%;
            }

            .txt-01 {
                font-size: 25px;
                line-height: 27px;
                margin-top: 13%;
                margin-bottom: 5px;
            }

            .txt-02 {
                font-size: 25px;
                line-height: 27px;

                span {
                    font-size: 30px;
                }
            }

            .txt-03 {
                font-size: 25px;
                line-height: 27px;

                span {
                    font-size: 30px;
                }
            }
        }
    }
}