.corridaVirtual {
    padding-top: 192px;
    background: rgba(244, 232, 0, 1);
    background: -moz-linear-gradient(45deg, rgba(244, 232, 0, 1) 0%, rgba(244, 232, 0, 1) 50%, rgba(244, 232, 0, 1) 50%, rgba(223, 0, 85, 1) 50%, rgba(223, 0, 85, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(244, 232, 0, 1)), color-stop(50%, rgba(244, 232, 0, 1)), color-stop(50%, rgba(244, 232, 0, 1)), color-stop(50%, rgba(223, 0, 85, 1)), color-stop(100%, rgba(223, 0, 85, 1)));
    background: -webkit-linear-gradient(45deg, rgba(244, 232, 0, 1) 0%, rgba(244, 232, 0, 1) 50%, rgba(244, 232, 0, 1) 50%, rgba(223, 0, 85, 1) 50%, rgba(223, 0, 85, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(244, 232, 0, 1) 0%, rgba(244, 232, 0, 1) 50%, rgba(244, 232, 0, 1) 50%, rgba(223, 0, 85, 1) 50%, rgba(223, 0, 85, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(244, 232, 0, 1) 0%, rgba(244, 232, 0, 1) 50%, rgba(244, 232, 0, 1) 50%, rgba(223, 0, 85, 1) 50%, rgba(223, 0, 85, 1) 100%);
    background: linear-gradient(19deg, rgba(244, 232, 0, 1) 0%, rgba(244, 232, 0, 1) 50%, rgba(244, 232, 0, 1) 50%, rgba(223, 0, 85, 1) 50%, rgba(223, 0, 85, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4e800', endColorstr='#df0055', GradientType=1);

    .box-1 {
        margin-top: 200px;

        p {
            font-family: 'VAG Rounded Std';
            font-weight: 900;
            font-style: normal;
            text-transform: uppercase;
            font-size: 40px;
            line-height: 45px;
            color: #df0054;

            span {
                color: #554c9b;
            }
        }

        .txt-2 {
            margin-top: 30px;
        }

        small {
            font-family: 'Helvetica Neue LT Std';
            font-weight: 300;
            font-style: normal;
            font-size: 15px;
            line-height: 20px;
            color: #000;
            text-transform: inherit;
            margin-top: 20px;
        }
    }
}

.bg-01 {
    width: 100%;
    height: 140px;
    background: rgba(244, 232, 0, 1);
    background: -moz-linear-gradient(-45deg, rgba(244, 232, 0, 1) 0%, rgba(244, 232, 0, 1) 50%, rgba(244, 232, 0, 1) 50%, rgba(223, 0, 85, 1) 50%, rgba(223, 0, 85, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(244, 232, 0, 1)), color-stop(50%, rgba(244, 232, 0, 1)), color-stop(50%, rgba(244, 232, 0, 1)), color-stop(50%, rgba(223, 0, 85, 1)), color-stop(100%, rgba(223, 0, 85, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(244, 232, 0, 1) 0%, rgba(244, 232, 0, 1) 50%, rgba(244, 232, 0, 1) 50%, rgba(223, 0, 85, 1) 50%, rgba(223, 0, 85, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(244, 232, 0, 1) 0%, rgba(244, 232, 0, 1) 50%, rgba(244, 232, 0, 1) 50%, rgba(223, 0, 85, 1) 50%, rgba(223, 0, 85, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(244, 232, 0, 1) 0%, rgba(244, 232, 0, 1) 50%, rgba(244, 232, 0, 1) 50%, rgba(223, 0, 85, 1) 50%, rgba(223, 0, 85, 1) 100%);
    background: linear-gradient(175deg, rgba(244, 232, 0, 1) 0%, rgba(244, 232, 0, 1) 50%, rgba(244, 232, 0, 1) 50%, rgba(223, 0, 85, 1) 50%, rgba(223, 0, 85, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4e800', endColorstr='#df0055', GradientType=1);
}

.favorito {
    background-color: #df0054;
    padding-top: 30px;
    padding-bottom: 30px;

    .box-1 {
        img {
            margin-top: 60px;
        }
    }

    .box-2 {
        p {
            font-family: 'VAG Rounded Std';
            font-weight: 900;
            font-style: normal;
            text-transform: uppercase;
            font-size: 35px;
            line-height: 45px;
            color: #f4e600;

            span {
                color: #6fc9ea;
            }
        }
    }
}


/* Extra Small */
@media(max-width:767px) {
    .corridaVirtual {
        background: linear-gradient(90deg, rgba(244, 232, 0, 1) 0%, rgba(244, 232, 0, 1) 50%, rgba(244, 232, 0, 1) 50%, rgba(223, 0, 85, 1) 50%, rgba(223, 0, 85, 1) 100%);
        padding-top: 20px;

        .box-1 {
            margin-top: 0px;

            p {
                font-size: 14px;
                line-height: 16px;
            }

            .txt-2 {
                margin-top: 10px;
            }

            small {
                font-size: 10px;
                line-height: 15px;
                margin-top: 20px;
            }
        }
    }

    .bg-01 {
        height: 40px;
    }

    .favorito {
        padding-top: 0px;
        padding-bottom: 20px;
    
        .box-1 {
            img {
                max-width: 40%;
                margin-top: 10px;
            }
        }
    
        .box-2 {
            margin-top: 20px;
            p {
                font-size: 23px;
                line-height: 28px;
                text-align: center;
            }
        }
    }
}

/* Small */
@media(min-width:768px) and (max-width:991px) {
    .corridaVirtual {
        background: linear-gradient(90deg, rgba(244, 232, 0, 1) 0%, rgba(244, 232, 0, 1) 50%, rgba(244, 232, 0, 1) 50%, rgba(223, 0, 85, 1) 50%, rgba(223, 0, 85, 1) 100%);
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

/* Medium */
@media(min-width:992px) and (max-width:1199px) {}