.home {
    .logo {
        background-color: #ff0059;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .a-corrida {
        background-color: #554c9b;

        .box-2 {

            p {
                font-family: 'VAG Rounded Std';
                font-weight: 900;
                font-style: normal;
                color: #f4e600;
                font-size: 60px;
                line-height: 65px;
                padding-top: 11%;
                padding-left: 50px;
                letter-spacing: 1px;

                span {
                    color: #6fc9ea;
                }
            }
        }
    }

    .video {
        background-color: #6fc9ea;
        padding-top: 50px;
        padding-bottom: 60px;

        p {
            font-family: 'VAG Rounded Std';
            font-weight: 900;
            font-style: normal;
            color: #554c9b;
            font-size: 45px;
            line-height: 50px;
            margin-bottom: 5px;
        }

        video {
            margin-top: 30px;
        }
    }
}

/* Extra Small */
@media(max-width:767px) {
    .home {
        .logo {
            padding-top: 10px;
            padding-bottom: 10px;

            img {
                max-width: 50%;
            }
        }

        .a-corrida {
            .box-2 {
                p {
                    font-size: 15px;
                    line-height: 20px;
                    padding-top: 15%;
                    padding-left: 15px;
                }
            }
        }

        .video {
            padding-top: 20px;
            padding-bottom: 20px;

            p {
                font-size: 18px;
                line-height: 23px;
                margin-bottom: 3px;
            }

            video {
                margin-top: 10px;
            }
        }
    }
}


/* Small */
@media(min-width:768px) and (max-width:991px) {
    .home {
        .a-corrida {
            .box-2 {
                p {
                    font-size: 35px;
                    line-height: 40px;
                    padding-top: 15%;
                }
            }
        }

        .video {

            p {
                font-size: 35px;
                line-height: 40px;
            }

        }
    }
}


/* Medium */
@media(min-width:992px) and (max-width:1199px) {
    .home {
        .a-corrida {
            .box-2 {
                p {
                    font-size: 50px;
                    line-height: 55px;
                    padding-top: 7%;
                }
            }
        }

        .video {

            p {
                font-size: 35px;
                line-height: 40px;
            }

        }
    }
}


/* Large */
@media(min-width:1200px) {}