.home {
    padding-top: 30px;
    padding-bottom: 25px;
    background: rgba(244, 230, 0, 1);
    background: -moz-linear-gradient(-45deg, rgba(244, 230, 0, 1) 0%, rgba(244, 230, 0, 1) 50%, rgba(85, 76, 155, 1) 50%, rgba(85, 76, 155, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(244, 230, 0, 1)), color-stop(50%, rgba(244, 230, 0, 1)), color-stop(50%, rgba(85, 76, 155, 1)), color-stop(100%, rgba(85, 76, 155, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(244, 230, 0, 1) 0%, rgba(244, 230, 0, 1) 50%, rgba(85, 76, 155, 1) 50%, rgba(85, 76, 155, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(244, 230, 0, 1) 0%, rgba(244, 230, 0, 1) 50%, rgba(85, 76, 155, 1) 50%, rgba(85, 76, 155, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(244, 230, 0, 1) 0%, rgba(244, 230, 0, 1) 50%, rgba(85, 76, 155, 1) 50%, rgba(85, 76, 155, 1) 100%);
    background: linear-gradient(165deg, rgba(244, 230, 0, 1) 0%, rgba(244, 230, 0, 1) 50%, rgba(85, 76, 155, 1) 50%, rgba(85, 76, 155, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4e600', endColorstr='#554c9b', GradientType=1);

    p {
        font-family: 'VAG Rounded Std';
        font-weight: 900;
        font-style: normal;
        color: #df0054;
        text-transform: uppercase;
        font-size: 45px;
        line-height: 55px;
        margin-top: 40px;
        span {
            color: #554c9b;
        }
    }
    .video {
        margin-top: 40px;
        video {
            background-color: #000;
        }
    }
}

/* Extra Small */
@media(max-width:767px) {
    .home {
        padding-top: 15px;
        padding-bottom: 20px;
        img {
            max-width: 60%;
        }
        p {
            font-size: 19px;
            line-height: 27px;
            margin-top: 15px;
            text-align: center;
        }
        .video {
            margin-top: 10px;
        }
    }
}


/* Small */
@media(min-width:768px) and (max-width:991px) {}

/* Medium */
@media(min-width:992px) and (max-width:1199px) {}