.somosMarca {
    background-color: #df0054;
    padding-top: 40px;
    padding-bottom: 50px;

    .box-1 {
        background: url(../images/dt-5.png) no-repeat;
        background-position: center left;
        background-size: contain;
        padding-top: 230px;
        padding-bottom: 230px;

        p {
            font-family: 'VAG Rounded Std';
            font-weight: 900;
            font-style: normal;
            text-transform: uppercase;
            color: #554c9b;
            font-size: 40px;
            line-height: 55px;
            padding-left: 30px;

            span {
                color: #e50058;
            }
        }
    }

    .box-2 {
        margin-top: 100px;

        .dt-3 {
            margin-top: 60px;
            float: right;
        }

        .redes {
            margin-top: 80px;
        }

        p {
            font-family: 'VAG Rounded Std';
            font-weight: 900;
            font-style: normal;
            text-transform: uppercase;
            font-size: 35px;
            line-height: 50px;
            color: #f2e500;
            margin-top: -40px;
            padding-left: 50px;
        }
    }
}

/* Extra Small */
@media(max-width:767px) {
    .somosMarca {
        padding-top: 0px;
        padding-bottom: 20px;

        .box-1 {
            background: url(../images/dt-5.png) no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 85px;
            padding-bottom: 85px;

            p {
                font-size: 15px;
                line-height: 20px;
                padding-left: 0px;
            }
        }

        .box-2 {
            margin-top: 30px;

            .dt-3 {
                margin-top: 0px;
                float: right;
                max-width: 50%;
            }

            .redes {
                margin-top: 30px;
            }

            p {
                font-size: 16px;
                line-height: 21px;
                margin-top: -20px;
                padding-left: 0px;
            }
        }
    }
}

/* Small */
@media(min-width:768px) and (max-width:991px) {}

/* Medium */
@media(min-width:992px) and (max-width:1199px) {}