@font-face {
  font-family: 'VAG Rounded Std';
  src: url("../fonts/VAGRoundedStd-Black.eot");
  src: url("../fonts/VAGRoundedStd-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/VAGRoundedStd-Black.woff2") format("woff2"), url("../fonts/VAGRoundedStd-Black.woff") format("woff"), url("../fonts/VAGRoundedStd-Black.ttf") format("truetype"), url("../fonts/VAGRoundedStd-Black.svg#VAGRoundedStd-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url("../fonts/HelveticaNeueLTStd-Lt.eot");
  src: url("../fonts/HelveticaNeueLTStd-Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Lt.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Lt.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Lt.ttf") format("truetype"), url("../fonts/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.margin-top {
  margin-top: 10px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-27 {
  margin-top: 27px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-54 {
  margin-top: 54px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-65 {
  margin-top: 65px;
}

.margin-top-70 {
  margin-top: 70px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-90 {
  margin-top: 90px;
}

.margin-top-99 {
  margin-top: 99px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-top-110 {
  margin-top: 110px;
}

.margin-top-120 {
  margin-top: 120px;
}

.margin-top-140 {
  margin-top: 140px;
}

.margin-top-149 {
  margin-top: 149px;
}

.margin-top-150 {
  margin-top: 150px;
}

.margin-top-160 {
  margin-top: 160px;
}

.margin-top-200 {
  margin-top: 200px;
}

.margin-top-220 {
  margin-top: 220px;
}

.margin-top-230 {
  margin-top: 230px;
}

.margin-top-250 {
  margin-top: 250px;
}

.margin-top-330 {
  margin-top: 330px;
}

.margin-top-350 {
  margin-top: 350px;
}

.margin-top-380 {
  margin-top: 380px;
}

.margin-top-385 {
  margin-top: 385px;
}

.margin-top-390 {
  margin-top: 390px;
}

.margin-top-400 {
  margin-top: 400px;
}

body {
  background-color: #f9e700;
  max-width: 1400px;
  margin: 0 auto;
}

.padding-off {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

p {
  margin: 0;
}

.container-off-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.row-off-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.simple {
  max-width: 100% !important;
  padding: 0.6rem 3rem 1rem !important;
  bottom: 10px !important;
}

.simple .cc_dialog_headline {
  font-size: 18px !important;
  line-height: 18px !important;
  margin-bottom: 5px !important;
}

.simple .cc_dialog_text {
  font-size: 13px !important;
  line-height: 15px !important;
  margin-bottom: 5px !important;
}

.simple button {
  font-size: 11px !important;
}

.cc_cp_head {
  padding-top: 10px;
  padding-bottom: 10px;
}

.cc_cp_head_lang_selector {
  display: none !important;
}

.cc_cp_head_lang_selector select {
  display: none !important;
}

.cc_b_ok {
  background: #EC2C27 !important;
}

.cc_cp_m_content_entry h1 {
  font-size: 20px !important;
}

.cc_cp_m_content_entry p {
  font-size: 14px !important;
  line-height: 1.2 !important;
}

.cc_cp_f_save button {
  font-size: 12px !important;
  background: #EC2C27 !important;
}

.cc_cp_m_menu li a {
  line-height: 15px !important;
}

.cc_cp_f_powered_by,
.cc_cp_f_powered_by a {
  color: transparent !important;
  pointer-events: none !important;
  display: none !important;
  text-indent: -9999px !important;
}

.aviso {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
}

.aviso div {
  display: table;
  margin: 10% auto 0;
  width: 40%;
  background-color: #f1e720;
  padding: 20px 10px;
  position: relative;
}

.aviso div .close {
  text-shadow: none;
  opacity: 1;
  position: absolute;
  right: 0;
  top: -30px;
  z-index: 999;
  color: #fff;
  font-size: 35px;
  line-height: 35px;
}

.aviso div p {
  font-family: 'VAG Rounded Std';
  font-weight: 900;
  font-style: normal;
  font-size: 18px;
  line-height: 1.667;
  color: #ff0059;
  text-transform: uppercase;
}

/* Extra Small */
@media (max-width: 767px) {
  .padding-off-mobile {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .aviso div {
    margin: 30% auto 0;
    width: 95%;
  }
}

.home {
  padding-top: 30px;
  padding-bottom: 25px;
  background: #f4e600;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #f4e600), color-stop(50%, #f4e600), color-stop(50%, #554c9b), color-stop(100%, #554c9b));
  background: linear-gradient(165deg, #f4e600 0%, #f4e600 50%, #554c9b 50%, #554c9b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4e600', endColorstr='#554c9b', GradientType=1);
}

.home p {
  font-family: 'VAG Rounded Std';
  font-weight: 900;
  font-style: normal;
  color: #df0054;
  text-transform: uppercase;
  font-size: 45px;
  line-height: 55px;
  margin-top: 40px;
}

.home p span {
  color: #554c9b;
}

.home .video {
  margin-top: 40px;
}

.home .video video {
  background-color: #000;
}

/* Extra Small */
@media (max-width: 767px) {
  .home {
    padding-top: 15px;
    padding-bottom: 20px;
  }
  .home img {
    max-width: 60%;
  }
  .home p {
    font-size: 19px;
    line-height: 27px;
    margin-top: 15px;
    text-align: center;
  }
  .home .video {
    margin-top: 10px;
  }
}

/* Small */
/* Medium */
.digital {
  padding-top: 40px;
  padding-bottom: 25px;
  background: #554c9b;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #554c9b), color-stop(50%, #554c9b), color-stop(50%, #f4e600), color-stop(100%, #f4e600));
  background: linear-gradient(-170deg, #554c9b 0%, #554c9b 50%, #f4e600 50%, #f4e600 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#554c9b', endColorstr='#f4e600', GradientType=1);
}

.digital p {
  font-family: 'VAG Rounded Std';
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
}

.digital .box-1 {
  margin-bottom: 80px;
}

.digital .box-1 .txt-1 {
  font-size: 35px;
  line-height: 45px;
  color: #f4e600;
}

.digital .box-1 .txt-2 {
  font-size: 25px;
  line-height: 35px;
  color: #ffffff;
}

.digital .box-2 {
  margin-top: 40px;
}

.digital .box-2 p {
  font-size: 45px;
  line-height: 55px;
  color: #df0054;
}

.digital .box-2 p span {
  color: #554c9b;
}

.digital .box-2 img {
  margin-top: -30px;
}

/* Extra Small */
@media (max-width: 767px) {
  .digital {
    padding-top: 0px;
    padding-bottom: 10px;
    background: linear-gradient(-150deg, #554c9b 0%, #554c9b 50%, #f4e600 50%, #f4e600 100%);
  }
  .digital .box-1 {
    margin-bottom: 0px;
  }
  .digital .box-1 .txt-1 {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
  }
  .digital .box-1 .txt-2 {
    font-size: 20px;
    line-height: 25px;
    margin-top: 8px;
    text-align: center;
  }
  .digital .box-2 {
    margin-top: 20px;
  }
  .digital .box-2 p {
    font-size: 25px;
    line-height: 25px;
  }
  .digital .box-2 img {
    margin-top: 10px;
  }
}

/* Small */
/* Medium */
.suaMarca {
  background-color: #e50058;
}

.suaMarca p {
  font-family: 'VAG Rounded Std';
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  color: #f4e600;
  font-size: 40px;
  line-height: 50px;
}

.suaMarca p span {
  color: #6fc9ea;
}

.suaMarca .box-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Extra Small */
@media (max-width: 767px) {
  .suaMarca p {
    font-size: 17px;
    line-height: 20px;
  }
  .suaMarca .box-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/* Small */
/* Medium */
.paisFilhos {
  padding-top: 40px;
  padding-bottom: 50px;
}

.paisFilhos .box-1 {
  background: url(../images/dt-2.png) no-repeat;
  background-position: center left;
  background-size: contain;
  padding-top: 230px;
  padding-bottom: 230px;
}

.paisFilhos .box-1 p {
  font-family: 'VAG Rounded Std';
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  color: #554c9b;
  font-size: 45px;
  line-height: 55px;
  padding-left: 30px;
}

.paisFilhos .box-1 p span {
  color: #e50058;
}

.paisFilhos .box-2 .cartoon-2 {
  margin-top: 30px;
}

.paisFilhos .box-2 .dt-3 {
  margin-top: 60px;
  float: right;
}

.paisFilhos .box-2 p {
  font-family: 'VAG Rounded Std';
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 45px;
  color: #e50058;
  margin-top: -100px;
  padding-left: 30px;
}

/* Extra Small */
@media (max-width: 767px) {
  .paisFilhos {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .paisFilhos .box-1 {
    background: url(../images/dt-2.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .paisFilhos .box-1 p {
    font-size: 17px;
    line-height: 20px;
    padding-left: 0px;
  }
  .paisFilhos .box-2 .cartoon-2 {
    margin-top: 0px;
  }
  .paisFilhos .box-2 .dt-3 {
    margin-top: 0px;
    float: right;
    max-width: 50%;
  }
  .paisFilhos .box-2 p {
    font-size: 14px;
    line-height: 17px;
    margin-top: -20px;
    padding-left: 0px;
  }
}

/* Small */
/* Medium */
.kitCorredor {
  background-color: #554c9b;
}

.kitCorredor .box-1 {
  padding-top: 60px;
  padding-bottom: 50px;
}

.kitCorredor .box-1 p {
  font-family: 'VAG Rounded Std';
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
}

.kitCorredor .box-1 .txt-1 {
  font-size: 35px;
  line-height: 35px;
  color: #ffffff;
  margin-bottom: 15px;
}

.kitCorredor .box-1 .txt-2 {
  font-size: 30px;
  line-height: 35px;
  color: #f4e600;
}

/* Extra Small */
@media (max-width: 767px) {
  .kitCorredor .box-1 {
    padding-top: 20px;
    padding-bottom: 5px;
  }
  .kitCorredor .box-1 .txt-1 {
    font-size: 23px;
    line-height: 25px;
    margin-bottom: 10px;
  }
  .kitCorredor .box-1 .txt-2 {
    font-size: 18px;
    line-height: 23px;
  }
  .kitCorredor .box-2 {
    padding-bottom: 15px;
  }
  .kitCorredor .box-2 img {
    max-width: 20%;
  }
}

/* Small */
/* Medium */
.corridaVirtual {
  padding-top: 192px;
  background: #f4e800;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #f4e800), color-stop(50%, #f4e800), color-stop(50%, #f4e800), color-stop(50%, #df0055), color-stop(100%, #df0055));
  background: linear-gradient(19deg, #f4e800 0%, #f4e800 50%, #f4e800 50%, #df0055 50%, #df0055 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4e800', endColorstr='#df0055', GradientType=1);
}

.corridaVirtual .box-1 {
  margin-top: 200px;
}

.corridaVirtual .box-1 p {
  font-family: 'VAG Rounded Std';
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 45px;
  color: #df0054;
}

.corridaVirtual .box-1 p span {
  color: #554c9b;
}

.corridaVirtual .box-1 .txt-2 {
  margin-top: 30px;
}

.corridaVirtual .box-1 small {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  text-transform: inherit;
  margin-top: 20px;
}

.bg-01 {
  width: 100%;
  height: 140px;
  background: #f4e800;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #f4e800), color-stop(50%, #f4e800), color-stop(50%, #f4e800), color-stop(50%, #df0055), color-stop(100%, #df0055));
  background: linear-gradient(175deg, #f4e800 0%, #f4e800 50%, #f4e800 50%, #df0055 50%, #df0055 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4e800', endColorstr='#df0055', GradientType=1);
}

.favorito {
  background-color: #df0054;
  padding-top: 30px;
  padding-bottom: 30px;
}

.favorito .box-1 img {
  margin-top: 60px;
}

.favorito .box-2 p {
  font-family: 'VAG Rounded Std';
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 45px;
  color: #f4e600;
}

.favorito .box-2 p span {
  color: #6fc9ea;
}

/* Extra Small */
@media (max-width: 767px) {
  .corridaVirtual {
    background: -webkit-gradient(linear, left top, right top, from(#f4e800), color-stop(50%, #f4e800), color-stop(50%, #f4e800), color-stop(50%, #df0055), to(#df0055));
    background: linear-gradient(90deg, #f4e800 0%, #f4e800 50%, #f4e800 50%, #df0055 50%, #df0055 100%);
    padding-top: 20px;
  }
  .corridaVirtual .box-1 {
    margin-top: 0px;
  }
  .corridaVirtual .box-1 p {
    font-size: 14px;
    line-height: 16px;
  }
  .corridaVirtual .box-1 .txt-2 {
    margin-top: 10px;
  }
  .corridaVirtual .box-1 small {
    font-size: 10px;
    line-height: 15px;
    margin-top: 20px;
  }
  .bg-01 {
    height: 40px;
  }
  .favorito {
    padding-top: 0px;
    padding-bottom: 20px;
  }
  .favorito .box-1 img {
    max-width: 40%;
    margin-top: 10px;
  }
  .favorito .box-2 {
    margin-top: 20px;
  }
  .favorito .box-2 p {
    font-size: 23px;
    line-height: 28px;
    text-align: center;
  }
}

/* Small */
@media (min-width: 768px) and (max-width: 991px) {
  .corridaVirtual {
    background: -webkit-gradient(linear, left top, right top, from(#f4e800), color-stop(50%, #f4e800), color-stop(50%, #f4e800), color-stop(50%, #df0055), to(#df0055));
    background: linear-gradient(90deg, #f4e800 0%, #f4e800 50%, #f4e800 50%, #df0055 50%, #df0055 100%);
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* Medium */
.somosMarca {
  background-color: #df0054;
  padding-top: 40px;
  padding-bottom: 50px;
}

.somosMarca .box-1 {
  background: url(../images/dt-5.png) no-repeat;
  background-position: center left;
  background-size: contain;
  padding-top: 230px;
  padding-bottom: 230px;
}

.somosMarca .box-1 p {
  font-family: 'VAG Rounded Std';
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  color: #554c9b;
  font-size: 40px;
  line-height: 55px;
  padding-left: 30px;
}

.somosMarca .box-1 p span {
  color: #e50058;
}

.somosMarca .box-2 {
  margin-top: 100px;
}

.somosMarca .box-2 .dt-3 {
  margin-top: 60px;
  float: right;
}

.somosMarca .box-2 .redes {
  margin-top: 80px;
}

.somosMarca .box-2 p {
  font-family: 'VAG Rounded Std';
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 50px;
  color: #f2e500;
  margin-top: -40px;
  padding-left: 50px;
}

/* Extra Small */
@media (max-width: 767px) {
  .somosMarca {
    padding-top: 0px;
    padding-bottom: 20px;
  }
  .somosMarca .box-1 {
    background: url(../images/dt-5.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 85px;
    padding-bottom: 85px;
  }
  .somosMarca .box-1 p {
    font-size: 15px;
    line-height: 20px;
    padding-left: 0px;
  }
  .somosMarca .box-2 {
    margin-top: 30px;
  }
  .somosMarca .box-2 .dt-3 {
    margin-top: 0px;
    float: right;
    max-width: 50%;
  }
  .somosMarca .box-2 .redes {
    margin-top: 30px;
  }
  .somosMarca .box-2 p {
    font-size: 16px;
    line-height: 21px;
    margin-top: -20px;
    padding-left: 0px;
  }
}

/* Small */
/* Medium */
.curtiu {
  background: url(../images/dt-6.png) no-repeat #554c9b;
  background-position: top right;
  padding-top: 50px;
  padding-bottom: 50px;
}

.curtiu .box-2 {
  margin-top: 115px;
}

.curtiu .box-2 p {
  font-family: 'VAG Rounded Std';
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  color: #f4e600;
  font-size: 45px;
  line-height: 55px;
  padding-left: 30px;
}

.curtiu .box-2 p span {
  color: #6fc9ea;
}

/* Extra Small */
@media (max-width: 767px) {
  .curtiu {
    background: url(../images/dt-6.png) no-repeat #554c9b;
    background-position: top right;
    background-size: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .curtiu .box-2 {
    margin-top: 40px;
  }
  .curtiu .box-2 p {
    font-size: 20px;
    line-height: 25px;
    padding-left: 0px;
  }
}

/* Small */
/* Medium */
.contato {
  padding-bottom: 40px;
  padding-top: 20px;
}

.contato .tt {
  margin-top: 50px;
  margin-bottom: 60px;
}

.contato .tt p {
  font-family: 'VAG Rounded Std';
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  color: #df0054;
  font-size: 35px;
  line-height: 45px;
}

.contato .mail-to {
  margin-bottom: 10px;
}

.contato .mail-to a {
  font-family: 'VAG Rounded Std';
  font-weight: 900;
  font-style: normal;
  color: #df0054;
  font-size: 35px;
  line-height: 35px;
}

.contato .form-group {
  padding: 0 1px 2px 1px;
  margin-bottom: 0;
}

.contato .form-control {
  font-family: 'Helvetica Neue LT Std';
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  height: 70px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 16px;
  color: #000;
  background-color: #fff;
  border: 0px solid transparent;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contato .form-control::-webkit-input-placeholder {
  color: #000;
}

.contato .form-control:-ms-input-placeholder {
  color: #000;
}

.contato .form-control::-ms-input-placeholder {
  color: #000;
}

.contato .form-control::placeholder {
  color: #000;
}

.contato .btn_enviar {
  font-family: 'VAG Rounded Std';
  font-weight: 900;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 0px solid transparent;
  border-radius: 0px;
  width: 150px;
  height: 50px;
  font-size: 20px;
  line-height: 20px;
  padding-top: 6px;
  float: right;
  background: #554c9b;
  color: #f9e700;
}

.contato .logo-footer {
  margin-top: 70px;
}

.redes {
  margin-top: 10px;
  margin-bottom: 20px;
}

.redes p {
  font-family: 'VAG Rounded Std';
  font-weight: 900;
  font-style: normal;
  color: #df0054;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 15px;
}

.redes div {
  display: table;
  margin: 0 auto;
}

.redes div figure {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.redes div figure a {
  display: block;
}

.redes div figure figcaption {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 300;
  font-style: normal;
  color: #df0054;
}

footer {
  padding-bottom: 20px;
  padding-top: 20px;
}

footer p {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 300;
  font-style: normal;
  color: #000;
  font-size: 12px;
  line-height: 14px;
  text-align: justify;
}

footer .navbar-nav {
  padding-bottom: 14px;
}

footer .navbar-nav li {
  padding-top: 7px;
  padding-bottom: 7px;
}

footer .navbar-nav li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'Helvetica Neue LT Std';
  font-weight: 300;
  font-style: normal;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  border-right: 1px solid #000;
}

footer .navbar-nav li > a:focus,
footer .navbar-nav li > a:hover {
  text-decoration: underline;
  background-color: transparent;
}

footer .navbar-nav li:last-child a {
  border-right: 0px solid transparent;
}

.cookies {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  height: 100%;
  top: 0;
  display: none;
}

.cookies .box {
  background-color: #fff;
  padding-top: 27px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 20px;
}

.cookies .box p {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 300;
  font-style: normal;
  color: #000;
  font-size: 15px;
  line-height: 19px;
}

.cookies .box .btn_cookie {
  font-family: 'VAG Rounded Std';
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  background: #554c9b;
  color: #f9e700;
  border: 0px solid transparent;
  border-radius: 50px;
  padding: 14px 30px 12px;
  width: 160px;
  text-transform: uppercase;
}

/* Extra Small */
@media (max-width: 767px) {
  .contato {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .contato .tt {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .contato .tt p {
    font-size: 20px;
    line-height: 25px;
  }
  .contato .mail-to a {
    font-size: 25px;
    line-height: 25px;
  }
  .contato .logo-footer {
    margin-top: 40px;
  }
  .cookies .box {
    padding-top: 17px;
    margin-top: 10px;
  }
  .cookies .box .btn_cookie {
    margin-top: 20px;
  }
  footer {
    padding-bottom: 20px;
    padding-top: 0px;
  }
  footer .navbar-nav li > a {
    border-right: 0px solid transparent;
  }
}

/* Small */
/* Medium */
/* Large */
.politica {
  padding-bottom: 50px;
}

.politica .politica-tt {
  background-color: #ff0059;
  padding-top: 20px;
  padding-bottom: 20px;
}

.politica .politica-tt h3 {
  font-family: 'VAG Rounded Std';
  font-weight: 900;
  font-style: normal;
  color: #f1e720;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0;
}

.politica .politica-info {
  margin-top: 30px;
}

.politica .politica-info p {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 300;
  font-style: normal;
  color: #000;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 15px;
}

.politica .politica-info p a {
  color: #EC2c27;
  text-decoration: underline;
}

/* Extra Small */
/* Small */
/* Medium */
/* Large */
.modal {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal .close {
  text-shadow: none;
  opacity: 1;
  position: absolute;
  right: 10px;
  top: -25px;
  z-index: 999;
  color: #fff;
  font-size: 35px;
  line-height: 35px;
}

.modal .modal-content {
  background-color: transparent;
  border: 0px solid transparent;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* Extra Small */
@media (max-width: 767px) {
  .modal .modal-dialog {
    margin: 15% auto 0;
  }
}

/* Small */
/* Medium */
/*# sourceMappingURL=style.css.map */